body {
	margin: 0;
	line-height: 150%;
}

.page {
	display: flex;
	height: 100%;
}

.title {
	font-size: 180%;
	color: rgba(127,17,70,1);
	line-height: 70px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}

.row.ycenter {
	align-items: center;
}

.mega_title {
	font-size: 400%;
	color: rgba(127,17,70,1);
	line-height: 220px;

}

.subtitle {
	font-size: 150%;
	font-style: italic;
	margin-bottom: 30px;
}

.subheader {
	background-color: #d23a4e;
}


.subheader > * {
	font-style: italic;
	color: #eee;
	font-size: 15px !important;
}

.announce_title {
	font-size: 160%;
	color: rgba(127,17,70,1);
}

.center {
	text-align: center;
}

.largify {
	font-size: 240%;
}

.givespace {
	margin-top: 40px !important;
}

.sidebar {
	width: 250px;
	background-color: rgba(33,33,33,1);
	color: #fff;
	text-decoration: none !important;
}

.sidebar .nav-title {
	padding: 50px;
	font-size: 180%;
	color: #eee;
	font-weight: bold;
	text-decoration: none !important;

}

.sidebar .nav-item {
	padding: 10px 50px;
	font-size: 120%;
	color: #eee;
	text-decoration: none !important;
}


.content {
	flex: 1;
	height: 100%;
	overflow: scroll;
}

.content > * {
	padding: 0 50px;
	max-width: 1000px;
	margin: 10 auto;
}

.row {
	display: flex;
	justify-content: space-around;
	margin: 50px auto;
}

.row > * {
	flex: 1;
	margin-left: 20px;
	margin-right: 20px;
}

.row > *:first-child {
	margin-left: 0;
}

.row > *:last-child {
	margin-right: 0;
}

.content > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    max-width: none;
}

.footer {
	text-align: center;
	margin: 50px auto;
}

.placeholder {
	background-color: #eee;
	min-height: 300px;
	margin: 0 25px;
}

.placeholder:first-child {
	margin-left: 0;
}

.placeholder:last-child {
	margin-right: 0;
}

.current {
	color: #dc3a6e !important;
	font-size: 140% !important;
}

.vert_divide {
	background-color: #fff;
	height: 300px;
	width: 45px;
}

.video-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 28.125%;

}

.video-wrapper iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.square_off {
	width: 55%;
	display: block;
}

.color_link {
	color:  rgba(127,17,70,1);
	text-decoration: underline;
	line-height: 40px;
}

.top_text {
	margin-top: 0;
}

.photo_align {
	display: flex;
}

.photo_align div {
	width: 33%;
	margin-right: 20px;
}

.portrait {
	width: 151px;
	height: 204px;
}

.inbrowser_display {
	width:415px;
	height:350px;
}

img {
	max-width: 100%;
	text-align: center;
	vertical-align: middle;

}

a {
	text-decoration: inherit;
	font-size: 110%;
	color: rgba(127,17,70,1);
}


p {
	font-size: 12px;
	text-align: justify;
	font-family: "Georgia", Times, serif;
}